/*=======fonts=======*/
/*comfortaa*/
@font-face {
  font-family: "comfortaaregular";
  src: url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.ttf?1411683030') format('truetype'), url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.eot?1411683030') format('embedded-opentype');
}
@font-face {
  font-family: "comfortaabold";
  src: url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.ttf?1411683030') format('truetype'), url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.eot?1411683030') format('embedded-opentype');
}
@font-face {
  font-family: "comfortaathin";
  src: url('/fonts/fonts/comfortaa/comfortaa_thin-webfont.ttf?1411683030') format('truetype'), url('/fonts/fonts/comfortaa/comfortaa_thin-webfont.eot?1411683030') format('embedded-opentype');
}
/*roboto*/
@font-face {
  font-family: "robotoregular";
  src: url('/fonts/fonts/roboto/roboto-regular-webfont-webfont.ttf?1411683224') format('truetype'), url('/fonts/fonts/roboto/roboto-regular-webfont-webfont.eot?1411683224') format('embedded-opentype');
}
@font-face {
  font-family: "robotoblack";
  src: url('/fonts/fonts/roboto/roboto-black-webfont-webfont.ttf?1411683224') format('truetype'), url('/fonts/fonts/roboto/roboto-black-webfont-webfont.eot?1411683224') format('embedded-opentype');
}
/*=======colors=======*/
/*=======colors=======*/
/*=======end=======*/
/*=======Border radius=======*/
/*=======end=======*/
/*=======genericos=======*/
/* line 43, ../sass/style.scss */
body {
  color: #242424;
}
/* line 45, ../sass/style.scss */
body font {
  family: "comfortaaregular";
  size: 15px;
}

/* line 50, ../sass/style.scss */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 55, ../sass/style.scss */
a, a:link {
  color: #2DA3DC;
  text-decoration: none;
}
/* line 58, ../sass/style.scss */
a:hover, a:link:hover {
  color: #E14176;
}

/* line 62, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 63, ../sass/style.scss */
p {
  margin: 0;
}

/* line 64, ../sass/style.scss */
.evento {
  color: #E14176;
}

/* line 65, ../sass/style.scss */
.bar {
  color: #2DA3DC;
}

/* line 68, ../sass/style.scss */
.ver-mas {
  color: #242424;
  font-size: 0.7em;
  padding: 0.3em 1em 0.3em 0.3em;
  background-repeat: no-repeat;
  background-color: #FFFF00;
}
/* line 76, ../sass/style.scss */
.ver-mas:hover {
  background: #E14176;
}

/*=======ends=======*/
/*=======artefactos=======*/
/* line 83, ../sass/style.scss */
#search .respuesta input[type="button"], .bar .tools .crear-evento form .respuesta input[type="button"], .crear-bar form .respuesta input[type="button"],
#search .respuesta input[type="submit"],
.bar .tools .crear-evento form .respuesta input[type="submit"],
.crear-bar form .respuesta input[type="submit"], .gal-principal .description a, .gal-principal .description a:link {
  background: #8AC140;
  border: none;
  padding: 0.5rem;
  color: white;
  font-family: "";
}
/* line 89, ../sass/style.scss */
#search .respuesta input[type="button"]:hover, .bar .tools .crear-evento form .respuesta input[type="button"]:hover, .crear-bar form .respuesta input[type="button"]:hover,
#search .respuesta input[type="submit"]:hover,
.bar .tools .crear-evento form .respuesta input[type="submit"]:hover,
.crear-bar form .respuesta input[type="submit"]:hover, .gal-principal .description a:hover {
  background: #2DA3DC;
}

/* line 95, ../sass/style.scss */
#search fieldset, .bar .tools .crear-evento form fieldset, .crear-bar form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 100, ../sass/style.scss */
#search .busca, .bar .tools .crear-evento form .busca, .crear-bar form .busca {
  display: inline-block;
  vertical-align: middle;
}
/* line 103, ../sass/style.scss */
#search .busca input[type="text"], .bar .tools .crear-evento form .busca input[type="text"], .crear-bar form .busca input[type="text"],
#search .busca input[type="password"],
.bar .tools .crear-evento form .busca input[type="password"],
.crear-bar form .busca input[type="password"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #2DA3DC;
  border: none;
  padding: 0.5rem;
}
/* line 111, ../sass/style.scss */
#search .busca select, .bar .tools .crear-evento form .busca select, .crear-bar form .busca select {
  margin: 0;
  border: none;
  width: 100%;
  padding: 0.5rem;
  height: 2rem;
}
/* line 119, ../sass/style.scss */
#search .respuesta, .bar .tools .crear-evento form .respuesta, .crear-bar form .respuesta {
  padding-top: 0.5em;
  border-top: 1px solid #666666;
}
/* line 127, ../sass/style.scss */
#search label, .bar .tools .crear-evento form label, .crear-bar form label {
  display: block;
  margin-bottom: 0.5em;
  color: white;
}
/* line 131, ../sass/style.scss */
#search label span, .bar .tools .crear-evento form label span, .crear-bar form label span {
  color: red;
}
/* line 134, ../sass/style.scss */
#search .horario input[type="text"], .bar .tools .crear-evento form .horario input[type="text"], .crear-bar form .horario input[type="text"],
#search .horario input[type="password"],
.bar .tools .crear-evento form .horario input[type="password"],
.crear-bar form .horario input[type="password"] {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}
/* line 140, ../sass/style.scss */
#search .horario .calen, .bar .tools .crear-evento form .horario .calen, .crear-bar form .horario .calen {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: red;
  cursor: pointer;
  vertical-align: middle;
}
/* line 149, ../sass/style.scss */
#search .ubicacion, .bar .tools .crear-evento form .ubicacion, .crear-bar form .ubicacion {
  vertical-align: top;
}
/* line 152, ../sass/style.scss */
#search .ubicacion .ciudad input[type="text"], .bar .tools .crear-evento form .ubicacion .ciudad input[type="text"], .crear-bar form .ubicacion .ciudad input[type="text"],
#search .ubicacion .ciudad input[type="password"],
.bar .tools .crear-evento form .ubicacion .ciudad input[type="password"],
.crear-bar form .ubicacion .ciudad input[type="password"] {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}
/* line 157, ../sass/style.scss */
#search .ubicacion .ciudad input[type="text"]:last-child, .bar .tools .crear-evento form .ubicacion .ciudad input[type="text"]:last-child, .crear-bar form .ubicacion .ciudad input[type="text"]:last-child,
#search .ubicacion .ciudad input[type="password"]:last-child,
.bar .tools .crear-evento form .ubicacion .ciudad input[type="password"]:last-child,
.crear-bar form .ubicacion .ciudad input[type="password"]:last-child {
  float: right;
}
/* line 160, ../sass/style.scss */
#search .ubicacion div, .bar .tools .crear-evento form .ubicacion div, .crear-bar form .ubicacion div {
  margin-bottom: 0.5em;
}
/* line 161, ../sass/style.scss */
#search .ubicacion p, .bar .tools .crear-evento form .ubicacion p, .crear-bar form .ubicacion p {
  color: #DDDDDD;
  font-size: 0.7em;
  margin-top: 0.2em;
}
/* line 168, ../sass/style.scss */
#search .file input[type="file"], .bar .tools .crear-evento form .file input[type="file"], .crear-bar form .file input[type="file"] {
  width: 100%;
}
/* line 171, ../sass/style.scss */
#search .description textarea, .bar .tools .crear-evento form .description textarea, .crear-bar form .description textarea {
  width: 100%;
}

/* line 183, ../sass/style.scss */
.usuario .datos .title, .bar .galery h2 {
  color: #242424;
}
/* line 185, ../sass/style.scss */
.usuario .datos .title font, .bar .galery h2 font {
  family: "";
  size: 1.2rem;
}

/* line 191, ../sass/style.scss */
.destacados ul, .bar .galery ul {
  position: relative;
}
/* line 193, ../sass/style.scss */
.destacados ul li, .bar .galery ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
  text-align: center;
  position: relative;
}
/* line 199, ../sass/style.scss */
.destacados ul li .img, .bar .galery ul li .img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  border: 1em solid transparent;
}
/* line 204, ../sass/style.scss */
.destacados ul li .n-evento, .bar .galery ul li .n-evento {
  padding: 0.5em 0;
  margin-top: -1em;
}
/* line 208, ../sass/style.scss */
.destacados ul li a, .bar .galery ul li a, .destacados ul li a:link, .bar .galery ul li a:link {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  display: block;
  text-indent: -5000px;
}
/* line 213, ../sass/style.scss */
.destacados ul li a:hover, .bar .galery ul li a:hover, .destacados ul li a:link:hover, .bar .galery ul li a:link:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* line 222, ../sass/style.scss */
.destacados .eventos li:hover .img, .bar .galery .eventos li:hover .img {
  border-color: #E14176;
}
/* line 223, ../sass/style.scss */
.destacados .eventos li:hover .n-evento, .bar .galery .eventos li:hover .n-evento {
  background: #E14176;
}
/* line 230, ../sass/style.scss */
.destacados .bares li:hover .img, .bar .galery .bares li:hover .img {
  border-color: #2DA3DC;
}
/* line 231, ../sass/style.scss */
.destacados .bares li:hover .n-evento, .bar .galery .bares li:hover .n-evento {
  background: #2DA3DC;
}

/* line 236, ../sass/style.scss */
.regular .tools, .bar .tools {
  text-align: right;
}
/* line 238, ../sass/style.scss */
.regular .tools section, .bar .tools section {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 242, ../sass/style.scss */
.regular .tools section h3, .bar .tools section h3 {
  margin-bottom: 0.5em;
}
/* line 243, ../sass/style.scss */
.regular .tools section ul, .bar .tools section ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #242424;
  padding: 1em;
  min-width: 13em;
  color: white;
  position: relative;
}
/* line 251, ../sass/style.scss */
.regular .tools section ul .nombre font, .bar .tools section ul .nombre font {
  size: 1.2em;
  family: "comfortaathin";
}
/* line 257, ../sass/style.scss */
.regular .tools section ul a:hover, .bar .tools section ul a:hover, .regular .tools section ul a:link:hover, .bar .tools section ul a:link:hover {
  color: #DDDDDD;
}
/* line 259, ../sass/style.scss */
.regular .tools section ul .ver-mas, .bar .tools section ul .ver-mas {
  position: absolute;
  top: 1em;
  right: 0;
}

/*=======ends=======*/
/*=======header=======*/
/* line 271, ../sass/style.scss */
header {
  position: fixed;
  background: url(../img/bg-header.png) no-repeat center center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  color: white;
  text-align: right;
}
/* line 280, ../sass/style.scss */
header figure {
  margin: 0.4em 0 0 0;
  display: inline-block;
  width: 30%;
  float: left;
  text-align: left;
}
/* line 287, ../sass/style.scss */
header section {
  display: inline-block;
}
/* line 289, ../sass/style.scss */
header section form,
header section section,
header section .sm {
  display: inline-block;
  padding: 0 1em;
  vertical-align: middle;
  margin-top: 0.5em;
}
/* line 297, ../sass/style.scss */
header section #profile-top {
  text-align: left;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  padding-right: 2.5em;
  position: relative;
}
/* line 304, ../sass/style.scss */
header section #profile-top p {
  margin: 0;
}
/* line 305, ../sass/style.scss */
header section #profile-top .close {
  text-indent: -5000px;
  position: absolute;
  top: 0;
  right: 0.5em;
  background: white;
  height: 1em;
  width: 1em;
}
/* line 313, ../sass/style.scss */
header section #profile-top .close:hover {
  background: red;
}
/* line 318, ../sass/style.scss */
header .sm li {
  display: inline-block;
  vertical-align: middle;
}
/* line 321, ../sass/style.scss */
header .sm li a, header .sm li a:link {
  text-indent: -5000px;
  width: 2em;
  height: 2em;
  background: white;
  display: inline-block;
  text-align: initial;
}
/* line 328, ../sass/style.scss */
header .sm li a:hover, header .sm li a:link:hover {
  background: red;
}

/* line 338, ../sass/style.scss */
#search fieldset legend {
  display: none;
}
/* line 339, ../sass/style.scss */
#search fieldset > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 343, ../sass/style.scss */
#search fieldset label {
  display: none;
}

/* line 347, ../sass/style.scss */
#content {
  position: relative;
  top: 3em;
  width: 100%;
  overflow: hidden;
}

/* line 353, ../sass/style.scss */
.left {
  float: left;
}

/* line 354, ../sass/style.scss */
.right {
  float: right;
}

/* line 355, ../sass/style.scss */
.mapa {
  overflow: hidden;
}

/* line 356, ../sass/style.scss */
.clear {
  clear: both;
}

/*tabs*/
/* line 359, ../sass/style.scss */
.tabs {
  text-align: right;
}
/* line 361, ../sass/style.scss */
.tabs li {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
/* line 365, ../sass/style.scss */
.tabs li a, .tabs li a:link {
  display: block;
  color: white;
  padding: 0.5em;
}
/* line 369, ../sass/style.scss */
.tabs li a:hover, .tabs li a:link:hover {
  background: #666666;
}
/* line 371, ../sass/style.scss */
.tabs li .active {
  background: #666666;
}

/* line 374, ../sass/style.scss */
.cont-tab {
  background: #666666;
}

/*end*/
/*=======ends=======*/
/*=======content=======*/
/*home-galeria*/
/* line 383, ../sass/style.scss */
.gal-principal {
  position: relative;
}
/* line 385, ../sass/style.scss */
.gal-principal li {
  position: relative;
}
/* line 386, ../sass/style.scss */
.gal-principal .description {
  position: absolute;
  background: #242424;
  top: 40%;
  left: 0;
  color: white;
  padding: 1rem;
  width: 50%;
}
/* line 394, ../sass/style.scss */
.gal-principal .description p {
  margin-top: 0;
}
/* line 395, ../sass/style.scss */
.gal-principal .description a, .gal-principal .description a:link {
  position: absolute;
  bottom: 0;
  right: -6rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  display: block;
}

/* line 407, ../sass/style.scss */
.destacados ul {
  left: 3rem;
}
/* line 409, ../sass/style.scss */
.destacados ul .img {
  width: 13em;
  height: 13em;
}
/* line 413, ../sass/style.scss */
.destacados ul a, .destacados ul a:link {
  height: 13em;
  width: 13em;
  top: 1em;
  left: 1em;
}
/* line 420, ../sass/style.scss */
.destacados h2 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* line 422, ../sass/style.scss */
.destacados > div {
  position: relative;
  height: 18em;
  padding: 1em 0;
}
/* line 426, ../sass/style.scss */
.destacados > div h2 {
  background: #242424;
  text-align: center;
  position: absolute;
  right: 87%;
  top: 5.6em;
  margin: 0;
  color: white;
  padding: 0.5em 0 0.5em;
  width: 13.5em;
}
/* line 438, ../sass/style.scss */
.destacados .eventos {
  border-bottom: 1px solid black;
}

/*end*/
/*profile*/
/* line 443, ../sass/style.scss */
.usuario {
  background: #DDDDDD;
  color: #242424;
}
/* line 446, ../sass/style.scss */
.usuario .datos {
  overflow: hidden;
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
}
/* line 452, ../sass/style.scss */
.usuario .datos li {
  margin-bottom: 0.5em;
}
/* line 454, ../sass/style.scss */
.usuario .datos .item {
  padding-left: 2em;
}
/* line 456, ../sass/style.scss */
.usuario .datos .item background {
  image: url(../img/sprite.png);
  color: transparent;
  repeat: no-repeat;
}
/* line 463, ../sass/style.scss */
.usuario .datos p {
  margin: 0;
  display: inline-block;
}
/* line 468, ../sass/style.scss */
.usuario .tools {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  display: inline-block;
  vertical-align: top;
}

/* line 476, ../sass/style.scss */
.regular .datos {
  width: 40%;
  border-right: 1px solid #242424;
}
/* line 479, ../sass/style.scss */
.regular .datos .left {
  width: 40%;
}
/* line 482, ../sass/style.scss */
.regular .datos .right {
  width: 59%;
}
/* line 486, ../sass/style.scss */
.regular .tools {
  width: 59%;
}
/* line 490, ../sass/style.scss */
.regular .close {
  display: block;
  background: #242424;
  width: 100%;
  text-align: center;
  color: #DDDDDD;
  padding: 0.3em 0;
}
/* line 497, ../sass/style.scss */
.regular .close:hover {
  background: #666666;
  color: #242424;
}

/* line 503, ../sass/style.scss */
.bar {
  /*reservas*/
  /*end*/
  /*tools*/
  /*end*/
}
/* line 504, ../sass/style.scss */
.bar .datos {
  width: 75%;
  border-right: 1px solid #242424;
}
/* line 507, ../sass/style.scss */
.bar .datos .left {
  width: 69%;
}
/* line 509, ../sass/style.scss */
.bar .datos .left .photo,
.bar .datos .left .info {
  display: inline-block;
  vertical-align: top;
}
/* line 513, ../sass/style.scss */
.bar .datos .left .photo:first-child,
.bar .datos .left .info:first-child {
  margin-right: 1em;
}
/* line 515, ../sass/style.scss */
.bar .datos .left .description {
  display: block;
}
/* line 519, ../sass/style.scss */
.bar .datos .right {
  width: 30%;
  max-height: 15rem;
}
/* line 524, ../sass/style.scss */
.bar .galery {
  padding-top: 1rem;
}
/* line 527, ../sass/style.scss */
.bar .galery h2 {
  margin: 0;
}
/* line 533, ../sass/style.scss */
.bar .galery ul li .img {
  width: 10em;
  height: 10em;
}
/* line 541, ../sass/style.scss */
.bar .tabs {
  background: #242424;
}
/* line 543, ../sass/style.scss */
.bar .tabs li {
  margin-bottom: 0;
}
/* line 545, ../sass/style.scss */
.bar .cont-tab {
  padding: 1em;
}
/* line 547, ../sass/style.scss */
.bar .cont-tab .personas {
  min-width: 10%;
}
/* line 548, ../sass/style.scss */
.bar .cont-tab .nombre {
  min-width: 30%;
}
/* line 549, ../sass/style.scss */
.bar .cont-tab .email {
  min-width: 30%;
}
/* line 550, ../sass/style.scss */
.bar .cont-tab .action {
  text-align: right;
}
/* line 552, ../sass/style.scss */
.bar .cont-tab .action .title {
  text-align: left;
}
/* line 553, ../sass/style.scss */
.bar .cont-tab .action .ver-mas {
  padding: 0.3em 2.5em 0.3em 0.3em;
  margin-left: 1em;
  border: none;
  color: #242424;
  position: relative;
}
/* line 559, ../sass/style.scss */
.bar .cont-tab .action .ver-mas:after {
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #242424;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
/* line 571, ../sass/style.scss */
.bar .cont-tab .action li:last-child {
  padding-bottom: 0.15em;
}
/* line 572, ../sass/style.scss */
.bar .cont-tab .action a, .bar .cont-tab .action a:link {
  display: inline-block;
}
/* line 575, ../sass/style.scss */
.bar .tabla {
  display: inline-block;
  vertical-align: top;
}
/* line 578, ../sass/style.scss */
.bar .tabla span {
  text-indent: -5000px;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
}
/* line 584, ../sass/style.scss */
.bar .tabla span:before {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  top: 0.5em;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2DA3DC;
}
/* line 596, ../sass/style.scss */
.bar .tabla li {
  background: #242424;
  padding: 0 0.3em;
  margin: 0;
}
/* line 600, ../sass/style.scss */
.bar .tabla li:first-child {
  background: none;
  color: #DDDDDD;
  padding: 0.5em 0;
  font-size: 1.1em;
}
/* line 607, ../sass/style.scss */
.bar .tabla li:last-child a, .bar .tabla li:last-child a:link {
  border: none;
}
/* line 609, ../sass/style.scss */
.bar .tabla li a, .bar .tabla li a:link {
  padding: 0.3em 0;
  color: #666666;
  border-bottom: 1px solid #666666;
  display: block;
}
/* line 620, ../sass/style.scss */
.bar .tools {
  width: 24%;
}
/* line 623, ../sass/style.scss */
.bar .tools section {
  width: 100%;
  margin-bottom: 1.3rem;
}
/* line 627, ../sass/style.scss */
.bar .tools li {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #666666;
}
/* line 630, ../sass/style.scss */
.bar .tools li .nombre {
  color: #666666;
  max-width: 80%;
}
/* line 636, ../sass/style.scss */
.bar .tools .crear-evento form {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  background: #242424;
}
/* line 641, ../sass/style.scss */
.bar .tools .crear-evento form legend {
  display: none;
}
/* line 642, ../sass/style.scss */
.bar .tools .crear-evento form .busca {
  width: 100%;
  font-size: 90%;
  margin-bottom: 0.5em;
}
/* line 647, ../sass/style.scss */
.bar .tools .crear-evento form .respuesta {
  text-align: center;
}

/*end*/
/*crear bar*/
/* line 658, ../sass/style.scss */
.crear-bar {
  width: 80%;
  margin: 1rem auto;
  background: #242424;
}
/* line 664, ../sass/style.scss */
.crear-bar form legend {
  position: relative;
  bottom: 1.5em;
  z-index: 9;
  color: #E14176;
  left: 0.5em;
  font-size: 1.2em;
}
/* line 672, ../sass/style.scss */
.crear-bar form .busca {
  width: 30%;
  text-align: left;
  margin: 0.5rem 1%;
}
/* line 677, ../sass/style.scss */
.crear-bar form .ubicacion {
  width: 62.5%;
}
/* line 679, ../sass/style.scss */
.crear-bar form .ubicacion .left,
.crear-bar form .ubicacion .right {
  width: 48%;
  max-height: 10em;
}
/* line 685, ../sass/style.scss */
.crear-bar form .premiun {
  background: #E14176;
  padding: 0.5em;
  margin-top: 0.5em;
  position: relative;
}
/* line 690, ../sass/style.scss */
.crear-bar form .premiun:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 100%;
}
/* line 696, ../sass/style.scss */
.crear-bar form .premiun p {
  color: white;
  margin-bottom: 0.5em;
  display: block;
}
/* line 701, ../sass/style.scss */
.crear-bar form .premiun div {
  margin-bottom: 0.5em;
}
/* line 703, ../sass/style.scss */
.crear-bar form .premiun div input[type=checkbox] {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}
/* line 707, ../sass/style.scss */
.crear-bar form .premiun div input[type=checkbox] + label {
  color: #DDDDDD;
  font-style: italic;
}
/* line 711, ../sass/style.scss */
.crear-bar form .premiun div input[type=checkbox]:checked + label {
  color: white;
  font-style: normal;
}
/* line 717, ../sass/style.scss */
.crear-bar form .premiun div label {
  width: 88%;
  font-size: 0.8em;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 726, ../sass/style.scss */
.crear-bar form .respuesta {
  padding: 1em 0;
  margin: 0 1em;
  text-align: center;
  border-top: 1px solid #242424;
}

/*end*/
/*bar-evento*/
/* line 738, ../sass/style.scss */
.event-bar, #bar, #evento {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  width: 50%;
  color: white;
}
/* line 743, ../sass/style.scss */
.event-bar h2, #bar h2, #evento h2 {
  text-transform: uppercase;
  width: 100%;
  color: white;
  padding: 0.5em 1rem 0.5em 1rem;
  margin: 0;
  display: block;
  position: relative;
  top: -1rem;
  left: -1rem;
}
/* line 754, ../sass/style.scss */
.event-bar .big-item, #bar .big-item, #evento .big-item {
  overflow: hidden;
  *zoom: 1;
  padding: 2em 0;
}
/* line 757, ../sass/style.scss */
.event-bar .big-item:first-child, #bar .big-item:first-child, #evento .big-item:first-child {
  padding-top: 0;
  border-top: none;
}
/* line 762, ../sass/style.scss */
.event-bar .left, #bar .left, #evento .left {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  width: 10em;
  height: 10em;
}
/* line 768, ../sass/style.scss */
.event-bar .right, #bar .right, #evento .right {
  width: 70%;
  position: relative;
}
/* line 771, ../sass/style.scss */
.event-bar .right .item, #bar .right .item, #evento .right .item {
  margin-bottom: 0.3em;
  padding-left: 2em;
}
/* line 774, ../sass/style.scss */
.event-bar .right .item p, #bar .right .item p, #evento .right .item p {
  display: inline-block;
}
/* line 776, ../sass/style.scss */
.event-bar .right .title, #bar .right .title, #evento .right .title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
/* line 781, ../sass/style.scss */
.event-bar .right .ampliar, #bar .right .ampliar, #evento .right .ampliar {
  margin-top: 0.5em;
  padding: 0.5em;
  display: inline-block;
  color: white;
  background: #8AC140;
}
/* line 787, ../sass/style.scss */
.event-bar .right .ampliar:hover, #bar .right .ampliar:hover, #evento .right .ampliar:hover {
  background: #2DA3DC;
}
/* line 791, ../sass/style.scss */
.event-bar .right .option, #bar .right .option, #evento .right .option {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
/* line 796, ../sass/style.scss */
.event-bar .right .option a, #bar .right .option a, #evento .right .option a, .event-bar .right .option a:link, #bar .right .option a:link, #evento .right .option a:link {
  position: absolute;
  right: 0;
  display: inline-block;
  text-indent: -5000px;
  width: 2em;
  height: 2em;
  background: red;
}
/* line 805, ../sass/style.scss */
.event-bar .right .option .like, #bar .right .option .like, #evento .right .option .like {
  top: 0;
}
/* line 806, ../sass/style.scss */
.event-bar .right .option .star, #bar .right .option .star, #evento .right .option .star {
  background: #17668C;
  font-size: 0%;
  top: 0;
  text-indent: initial !important;
  color: #17668C;
}
/* line 812, ../sass/style.scss */
.event-bar .right .option .star .contador, #bar .right .option .star .contador, #evento .right .option .star .contador {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #78C5E9;
  height: 1.5em;
  width: 1.5em;
  border: 2px solid #2DA3DC;
  font-size: 21px;
  position: absolute;
  text-align: center;
  line-height: 1.5em;
  top: -0.5em;
  right: -0.5em;
}
/* line 826, ../sass/style.scss */
.event-bar .right .option .share, #bar .right .option .share, #evento .right .option .share {
  bottom: 0;
}

/* line 832, ../sass/style.scss */
#bar {
  float: left;
  background: #E14176;
}
/* line 836, ../sass/style.scss */
#bar h2 {
  background: #BB1E51;
}
/* line 837, ../sass/style.scss */
#bar .big-item {
  border-top: 1px solid #EA799D;
  border-bottom: 1px solid #BB1E51;
}

/* line 843, ../sass/style.scss */
#evento {
  float: right;
  background: #2DA3DC;
}
/* line 847, ../sass/style.scss */
#evento h2 {
  background: #17668C;
}
/* line 848, ../sass/style.scss */
#evento .big-item {
  border-top: 1px solid #78C5E9;
  border-bottom: 1px solid #17668C;
}

/*end*/
/*=======end=======*/
/*=======footer=======*/
/* line 859, ../sass/style.scss */
footer {
  display: none;
  position: fixed;
  right: 0;
  top: 3.2em;
  width: 20%;
  background: #DDDDDD;
}
/* line 866, ../sass/style.scss */
footer .marca {
  position: absolute;
  left: -50%;
  top: 50%;
}
/* line 870, ../sass/style.scss */
footer .marca a, footer .marca a:link {
  background: #DDDDDD;
  color: #242424;
  padding: 0.5rem 1rem 0.5rem 3rem;
  display: block;
  margin-bottom: 0.3em;
}
/* line 878, ../sass/style.scss */
footer .contenidos-marca {
  padding: 1em;
}

/*=======ends=======*/
