/*=======fonts=======*/
/*comfortaa*/
@font-face {
  font-family: "comfortaaregular";
  src: url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.ttf?1411683030') format('truetype'), url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.eot?1411683030') format('embedded-opentype');
}
@font-face {
  font-family: "comfortaabold";
  src: url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.ttf?1411683030') format('truetype'), url('/fonts/fonts/comfortaa/comfortaa_bold-webfont.eot?1411683030') format('embedded-opentype');
}
@font-face {
  font-family: "comfortaathin";
  src: url('/fonts/fonts/comfortaa/comfortaa_thin-webfont.ttf?1411683030') format('truetype'), url('/fonts/fonts/comfortaa/comfortaa_thin-webfont.eot?1411683030') format('embedded-opentype');
}
/*roboto*/
@font-face {
  font-family: "robotoregular";
  src: url('/fonts/fonts/roboto/roboto-regular-webfont-webfont.ttf?1411683224') format('truetype'), url('/fonts/fonts/roboto/roboto-regular-webfont-webfont.eot?1411683224') format('embedded-opentype');
}
@font-face {
  font-family: "robotoblack";
  src: url('/fonts/fonts/roboto/roboto-black-webfont-webfont.ttf?1411683224') format('truetype'), url('/fonts/fonts/roboto/roboto-black-webfont-webfont.eot?1411683224') format('embedded-opentype');
}
/*=======colors=======*/
/*=======colors=======*/
/*=======end=======*/
/*=======Border radius=======*/
/*=======end=======*/
/*=======genericos=======*/
/* line 38, ../sass/style.scss */
body {
  color: #242424;
}
/* line 40, ../sass/style.scss */
body font {
  family: "comfortaaregular";
  size: 15px;
}

/* line 45, ../sass/style.scss */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 50, ../sass/style.scss */
a, a:link {
  color: #2DA3DC;
  text-decoration: none;
}
/* line 53, ../sass/style.scss */
a:hover, a:link:hover {
  color: #E14176;
}

/* line 57, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 58, ../sass/style.scss */
p {
  margin: 0;
}

/* line 59, ../sass/style.scss */
.evento {
  color: #E14176;
}

/* line 60, ../sass/style.scss */
.bar {
  color: #2DA3DC;
}

/*=======ends=======*/
/*=======artefactos=======*/
/* line 65, ../sass/style.scss */
#search .respuesta input[type="button"], .crear-bar form .respuesta input[type="button"],
#search .respuesta input[type="submit"],
.crear-bar form .respuesta input[type="submit"], .gal-principal .description a, .gal-principal .description a:link {
  background: #8AC140;
  border: none;
  padding: 0.5rem;
  color: white;
  font-family: "";
}
/* line 71, ../sass/style.scss */
#search .respuesta input[type="button"]:hover, .crear-bar form .respuesta input[type="button"]:hover,
#search .respuesta input[type="submit"]:hover,
.crear-bar form .respuesta input[type="submit"]:hover, .gal-principal .description a:hover {
  background: #2DA3DC;
}

/* line 77, ../sass/style.scss */
#search fieldset, .crear-bar form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 82, ../sass/style.scss */
#search .busca, .crear-bar form .busca {
  display: inline-block;
  vertical-align: middle;
}
/* line 85, ../sass/style.scss */
#search .busca input[type="text"], .crear-bar form .busca input[type="text"],
#search .busca input[type="password"],
.crear-bar form .busca input[type="password"] {
  color: #2DA3DC;
  border: none;
  padding: 0.5rem;
}
/* line 98, ../sass/style.scss */
#search label, .crear-bar form label {
  display: block;
  margin-bottom: 0.5em;
  color: white;
}
/* line 102, ../sass/style.scss */
#search label span, .crear-bar form label span {
  color: red;
}
/* line 105, ../sass/style.scss */
#search .horario input[type="text"], .crear-bar form .horario input[type="text"],
#search .horario input[type="password"],
.crear-bar form .horario input[type="password"] {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}
/* line 111, ../sass/style.scss */
#search .horario .calen, .crear-bar form .horario .calen {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: red;
  cursor: pointer;
  vertical-align: middle;
}
/* line 120, ../sass/style.scss */
#search .ubicacion, .crear-bar form .ubicacion {
  vertical-align: top;
}
/* line 123, ../sass/style.scss */
#search .ubicacion .ciudad input[type="text"], .crear-bar form .ubicacion .ciudad input[type="text"],
#search .ubicacion .ciudad input[type="password"],
.crear-bar form .ubicacion .ciudad input[type="password"] {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}
/* line 128, ../sass/style.scss */
#search .ubicacion .ciudad input[type="text"]:last-child, .crear-bar form .ubicacion .ciudad input[type="text"]:last-child,
#search .ubicacion .ciudad input[type="password"]:last-child,
.crear-bar form .ubicacion .ciudad input[type="password"]:last-child {
  float: right;
}
/* line 131, ../sass/style.scss */
#search .ubicacion div, .crear-bar form .ubicacion div {
  margin-bottom: 0.5em;
}
/* line 132, ../sass/style.scss */
#search .ubicacion p, .crear-bar form .ubicacion p {
  color: #DDDDDD;
  font-size: 0.7em;
  margin-top: 0.2em;
}

/* line 148, ../sass/style.scss */
.usuario .datos .title, .bar .galery h2 {
  color: #242424;
}
/* line 150, ../sass/style.scss */
.usuario .datos .title font, .bar .galery h2 font {
  family: "";
  size: 1.2rem;
}

/* line 156, ../sass/style.scss */
.destacados ul, .bar .galery ul {
  position: relative;
}
/* line 158, ../sass/style.scss */
.destacados ul li, .bar .galery ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
  text-align: center;
  position: relative;
}
/* line 164, ../sass/style.scss */
.destacados ul li .img, .bar .galery ul li .img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  border: 1em solid transparent;
}
/* line 169, ../sass/style.scss */
.destacados ul li .n-evento, .bar .galery ul li .n-evento {
  padding: 0.5em 0;
  margin-top: -1em;
}
/* line 173, ../sass/style.scss */
.destacados ul li a, .bar .galery ul li a, .destacados ul li a:link, .bar .galery ul li a:link {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  display: block;
  text-indent: -5000px;
}
/* line 178, ../sass/style.scss */
.destacados ul li a:hover, .bar .galery ul li a:hover, .destacados ul li a:link:hover, .bar .galery ul li a:link:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* line 187, ../sass/style.scss */
.destacados .eventos li:hover .img, .bar .galery .eventos li:hover .img {
  border-color: #E14176;
}
/* line 188, ../sass/style.scss */
.destacados .eventos li:hover .n-evento, .bar .galery .eventos li:hover .n-evento {
  background: #E14176;
}
/* line 195, ../sass/style.scss */
.destacados .bares li:hover .img, .bar .galery .bares li:hover .img {
  border-color: #2DA3DC;
}
/* line 196, ../sass/style.scss */
.destacados .bares li:hover .n-evento, .bar .galery .bares li:hover .n-evento {
  background: #2DA3DC;
}

/* line 201, ../sass/style.scss */
.ver-mas {
  color: #242424;
  font-size: 0.7em;
  padding: 0.3em 1em 0.3em 0.3em;
  background-repeat: no-repeat;
  background-color: #FFFF00;
}

/*=======ends=======*/
/*=======header=======*/
/* line 213, ../sass/style.scss */
header {
  position: fixed;
  background: url(../img/bg-header.png) no-repeat center center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  color: white;
  text-align: right;
}
/* line 222, ../sass/style.scss */
header figure {
  margin: 0.4em 0 0 0;
  display: inline-block;
  width: 30%;
  float: left;
  text-align: left;
}
/* line 229, ../sass/style.scss */
header section {
  display: inline-block;
}
/* line 231, ../sass/style.scss */
header section form,
header section section,
header section .sm {
  display: inline-block;
  padding: 0 1em;
  vertical-align: middle;
  margin-top: 0.5em;
}
/* line 239, ../sass/style.scss */
header section #profile-top {
  text-align: left;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  padding-right: 2.5em;
  position: relative;
}
/* line 246, ../sass/style.scss */
header section #profile-top p {
  margin: 0;
}
/* line 247, ../sass/style.scss */
header section #profile-top .close {
  text-indent: -5000px;
  position: absolute;
  top: 0;
  right: 0.5em;
  background: white;
  height: 1em;
  width: 1em;
}
/* line 255, ../sass/style.scss */
header section #profile-top .close:hover {
  background: red;
}
/* line 260, ../sass/style.scss */
header .sm li {
  display: inline-block;
  vertical-align: middle;
}
/* line 263, ../sass/style.scss */
header .sm li a, header .sm li a:link {
  text-indent: -5000px;
  width: 2em;
  height: 2em;
  background: white;
  display: inline-block;
  text-align: initial;
}
/* line 270, ../sass/style.scss */
header .sm li a:hover, header .sm li a:link:hover {
  background: red;
}

/* line 280, ../sass/style.scss */
#search fieldset legend {
  display: none;
}
/* line 281, ../sass/style.scss */
#search fieldset > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 285, ../sass/style.scss */
#search fieldset label {
  display: none;
}

/* line 289, ../sass/style.scss */
#content {
  position: relative;
  top: 3em;
  width: 100%;
  overflow: hidden;
}

/* line 295, ../sass/style.scss */
.left {
  float: left;
}

/* line 296, ../sass/style.scss */
.right {
  float: right;
}

/* line 297, ../sass/style.scss */
.mapa {
  overflow: hidden;
}

/* line 298, ../sass/style.scss */
.clear {
  clear: both;
}

/*tabs*/
/* line 301, ../sass/style.scss */
.tabs {
  text-align: right;
}
/* line 303, ../sass/style.scss */
.tabs li {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
/* line 307, ../sass/style.scss */
.tabs li a, .tabs li a:link {
  display: block;
  color: white;
  padding: 0.5em;
}
/* line 311, ../sass/style.scss */
.tabs li a:hover, .tabs li a:link:hover {
  background: #666666;
}
/* line 313, ../sass/style.scss */
.tabs li .active {
  background: #666666;
}

/* line 316, ../sass/style.scss */
.cont-tab {
  background: #666666;
}

/*end*/
/*=======ends=======*/
/*=======content=======*/
/*home-galeria*/
/* line 325, ../sass/style.scss */
.gal-principal {
  position: relative;
}
/* line 327, ../sass/style.scss */
.gal-principal li {
  position: relative;
}
/* line 328, ../sass/style.scss */
.gal-principal .description {
  position: absolute;
  background: #242424;
  top: 40%;
  left: 0;
  color: white;
  padding: 1rem;
  width: 50%;
}
/* line 336, ../sass/style.scss */
.gal-principal .description p {
  margin-top: 0;
}
/* line 337, ../sass/style.scss */
.gal-principal .description a, .gal-principal .description a:link {
  position: absolute;
  bottom: 0;
  right: -6rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  display: block;
}

/* line 349, ../sass/style.scss */
.destacados ul {
  left: 3rem;
}
/* line 351, ../sass/style.scss */
.destacados ul .img {
  width: 13em;
  height: 13em;
}
/* line 355, ../sass/style.scss */
.destacados ul a, .destacados ul a:link {
  height: 13em;
  width: 13em;
  top: 1em;
  left: 1em;
}
/* line 362, ../sass/style.scss */
.destacados h2 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* line 364, ../sass/style.scss */
.destacados > div {
  position: relative;
  height: 18em;
  padding: 1em 0;
}
/* line 368, ../sass/style.scss */
.destacados > div h2 {
  background: #242424;
  text-align: center;
  position: absolute;
  right: 87%;
  top: 5.6em;
  margin: 0;
  color: white;
  padding: 0.5em 0 0.5em;
  width: 13.5em;
}
/* line 380, ../sass/style.scss */
.destacados .eventos {
  border-bottom: 1px solid black;
}

/*end*/
/*profile*/
/* line 385, ../sass/style.scss */
.usuario {
  background: #DDDDDD;
  color: #242424;
}
/* line 388, ../sass/style.scss */
.usuario .datos {
  overflow: hidden;
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
}
/* line 394, ../sass/style.scss */
.usuario .datos li {
  margin-bottom: 0.5em;
}
/* line 396, ../sass/style.scss */
.usuario .datos .item {
  padding-left: 2em;
}
/* line 398, ../sass/style.scss */
.usuario .datos .item background {
  image: url(../img/sprite.png);
  color: transparent;
  repeat: no-repeat;
}
/* line 405, ../sass/style.scss */
.usuario .datos p {
  margin: 0;
  display: inline-block;
}
/* line 410, ../sass/style.scss */
.usuario .tools {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  display: inline-block;
  vertical-align: top;
}

/* line 418, ../sass/style.scss */
.regular .datos {
  width: 40%;
  border-right: 1px solid #242424;
}
/* line 421, ../sass/style.scss */
.regular .datos .left {
  width: 40%;
}
/* line 424, ../sass/style.scss */
.regular .datos .right {
  width: 59%;
}
/* line 428, ../sass/style.scss */
.regular .tools {
  width: 59%;
  text-align: right;
}
/* line 431, ../sass/style.scss */
.regular .tools section {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 435, ../sass/style.scss */
.regular .tools section h3 {
  margin-bottom: 0.5em;
}
/* line 436, ../sass/style.scss */
.regular .tools section ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #242424;
  padding: 1em;
  min-width: 13em;
  color: white;
  position: relative;
}
/* line 444, ../sass/style.scss */
.regular .tools section ul .nombre font {
  size: 1.2em;
  family: "comfortaathin";
}
/* line 450, ../sass/style.scss */
.regular .tools section ul a:hover, .regular .tools section ul a:link:hover {
  color: #DDDDDD;
}
/* line 452, ../sass/style.scss */
.regular .tools section ul .ver-mas {
  position: absolute;
  top: 1em;
  right: 0;
}
/* line 460, ../sass/style.scss */
.regular .close {
  display: block;
  background: #242424;
  width: 100%;
  text-align: center;
  color: #DDDDDD;
  padding: 0.3em 0;
}
/* line 467, ../sass/style.scss */
.regular .close:hover {
  background: #666666;
  color: #242424;
}

/* line 473, ../sass/style.scss */
.bar {
  /*reservas*/
  /*end*/
}
/* line 474, ../sass/style.scss */
.bar .datos {
  width: 70%;
  border-right: 1px solid #242424;
}
/* line 477, ../sass/style.scss */
.bar .datos .left {
  width: 70%;
}
/* line 479, ../sass/style.scss */
.bar .datos .left .photo,
.bar .datos .left .info {
  display: inline-block;
  vertical-align: top;
}
/* line 483, ../sass/style.scss */
.bar .datos .left .photo:first-child,
.bar .datos .left .info:first-child {
  margin-right: 1em;
}
/* line 485, ../sass/style.scss */
.bar .datos .left .description {
  display: block;
}
/* line 489, ../sass/style.scss */
.bar .datos .right {
  width: 30%;
  max-height: 15rem;
}
/* line 494, ../sass/style.scss */
.bar .galery {
  padding-top: 1rem;
}
/* line 497, ../sass/style.scss */
.bar .galery h2 {
  margin: 0;
}
/* line 503, ../sass/style.scss */
.bar .galery ul li .img {
  width: 10em;
  height: 10em;
}
/* line 511, ../sass/style.scss */
.bar .tabs {
  background: #242424;
}
/* line 513, ../sass/style.scss */
.bar .tabs li {
  margin-bottom: 0;
}
/* line 515, ../sass/style.scss */
.bar .cont-tab {
  padding: 1em;
}
/* line 517, ../sass/style.scss */
.bar .cont-tab .personas {
  min-width: 10%;
}
/* line 518, ../sass/style.scss */
.bar .cont-tab .nombre {
  min-width: 30%;
}
/* line 519, ../sass/style.scss */
.bar .cont-tab .email {
  min-width: 30%;
}
/* line 520, ../sass/style.scss */
.bar .cont-tab .action {
  text-align: right;
}
/* line 524, ../sass/style.scss */
.bar .tabla {
  display: inline-block;
  vertical-align: top;
}
/* line 527, ../sass/style.scss */
.bar .tabla span {
  text-indent: -5000px;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
}
/* line 533, ../sass/style.scss */
.bar .tabla span:before {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  top: 0.5em;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2DA3DC;
}
/* line 545, ../sass/style.scss */
.bar .tabla li {
  background: #242424;
  padding: 0 0.3em;
  margin: 0;
}
/* line 549, ../sass/style.scss */
.bar .tabla li:first-child {
  background: none;
  color: #DDDDDD;
  padding: 0.5em 0;
  font-size: 1.1em;
}
/* line 556, ../sass/style.scss */
.bar .tabla li:last-child a, .bar .tabla li:last-child a:link {
  border: none;
}
/* line 558, ../sass/style.scss */
.bar .tabla li a, .bar .tabla li a:link {
  padding: 0.3em 0;
  color: #666666;
  border-bottom: 1px solid #666666;
  display: block;
}

/*end*/
/*crear bar*/
/* line 572, ../sass/style.scss */
.crear-bar {
  width: 80%;
  margin: 1rem auto;
  background: #242424;
}
/* line 578, ../sass/style.scss */
.crear-bar form legend {
  position: relative;
  bottom: 1.5em;
  z-index: 9;
  color: #E14176;
  left: 0.5em;
  font-size: 1.2em;
}
/* line 586, ../sass/style.scss */
.crear-bar form .busca {
  width: 30%;
  text-align: left;
  margin: 0.5rem 1%;
}
/* line 590, ../sass/style.scss */
.crear-bar form .busca input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/* line 594, ../sass/style.scss */
.crear-bar form .busca select {
  margin: 0;
  border: none;
  width: 100%;
  padding: 0.5rem;
  height: 2rem;
}
/* line 602, ../sass/style.scss */
.crear-bar form .ubicacion {
  width: 62.5%;
}
/* line 604, ../sass/style.scss */
.crear-bar form .ubicacion .left,
.crear-bar form .ubicacion .right {
  width: 48%;
  max-height: 10em;
}
/* line 610, ../sass/style.scss */
.crear-bar form .premiun {
  background: #E14176;
  padding: 0.5em;
  margin-top: 0.5em;
  position: relative;
}
/* line 615, ../sass/style.scss */
.crear-bar form .premiun:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 100%;
}
/* line 621, ../sass/style.scss */
.crear-bar form .premiun p {
  color: white;
  margin-bottom: 0.5em;
  display: block;
}
/* line 626, ../sass/style.scss */
.crear-bar form .premiun div {
  margin-bottom: 0.5em;
}
/* line 628, ../sass/style.scss */
.crear-bar form .premiun div input[type=checkbox] {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}
/* line 632, ../sass/style.scss */
.crear-bar form .premiun div input[type=checkbox] + label {
  color: #DDDDDD;
  font-style: italic;
}
/* line 636, ../sass/style.scss */
.crear-bar form .premiun div input[type=checkbox]:checked + label {
  color: white;
  font-style: normal;
}
/* line 642, ../sass/style.scss */
.crear-bar form .premiun div label {
  width: 88%;
  font-size: 0.8em;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 651, ../sass/style.scss */
.crear-bar form .respuesta {
  padding: 1em 0;
  margin: 0 1em;
  text-align: center;
  border-top: 1px solid #242424;
}

/*end*/
/*=======ends=======*/
/*=======footer=======*/
/* line 665, ../sass/style.scss */
footer {
  display: none;
  position: fixed;
  right: 0;
  top: 3.2em;
  width: 20%;
  background: #DDDDDD;
}
/* line 672, ../sass/style.scss */
footer .marca {
  position: absolute;
  left: -50%;
  top: 50%;
}
/* line 676, ../sass/style.scss */
footer .marca a, footer .marca a:link {
  background: #DDDDDD;
  color: #242424;
  padding: 0.5rem 1rem 0.5rem 3rem;
  display: block;
  margin-bottom: 0.3em;
}
/* line 684, ../sass/style.scss */
footer .contenidos-marca {
  padding: 1em;
}

/*=======ends=======*/
